# Modified from https://github.com/lloesche/valheim-server-docker/blob/main/valheim.service
[Unit]
Description=Valheim Server
After=docker.service
Requires=docker.service
ConditionPathExists=/etc/sysconfig/valheim-server
[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/docker start -a valheim
ExecStop=/usr/bin/docker stop valheim
Restart=always
RestartSec=10s
[Install]
WantedBy=multi-user.target
